---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const title = "Blogs | Thiruna";

let posts = await getCollection("blogs", ({ data }: any) => {
    return data.draft !== true;
});

posts.sort(
    (a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime(),
);
---

<Layout title={title}>
    <div id="blogs" class="max-w-5xl mx-auto px-5 sm:px-6 lg:px-8 mt-10 overflow-x-hidden">
        <div class="mb-6 flex items-center justify-between">
            <h3 class="text-3xl">Recent Writing</h3>
        </div>

        {
            posts.length ? (
                <div class="space-y-12">
                    {posts.map((post) => {
                        const popularTags = post.data.popularTags?.split(",");
                        return (
                            <article class="flex flex-col md:flex-row items-start md:items-center gap-8 pb-8">
                                <div class="flex flex-col justify-between">
                                    <div class="flex items-center gap-x-4 text-sm">
                                        <time datetime={post.data.publishedDate.toISOString()}>
                                            {new Intl.DateTimeFormat("en-US", {
                                                weekday: "short",
                                                month: "short",
                                                day: "2-digit",
                                                year: "numeric",
                                            }).format(post.data.publishedDate)}
                                        </time>
                                        {popularTags?.map((tag) => (
                                            <span class="relative z-10 rounded-full bg-gray-100 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100 dark:bg-gray-800/60 dark:text-gray-300 dark:hover:bg-gray-800">
                                                {tag}
                                            </span>
                                        ))}
                                    </div>
                                    <h3 class="mt-3 text-lg font-semibold text-gray-900 group-hover:text-gray-600 dark:text-white dark:group-hover:text-gray-300 hover:underline">
                                        <a href={`/blogs/${post.slug}`}>
                                            {post.data.title}
                                        </a>
                                    </h3>
                                    <p class="mt-3 text-md text-gray-700 dark:text-gray-400 line-clamp-3 leading-10">
                                        {post.data.description}
                                    </p>
                                </div>
                            </article>
                        );
                    })}
                </div>
            ) : (
                <p class="text-xl">No recent post!</p>
            )
        }
    </div>
</Layout>
